<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script type="text/javascript" src="/static/auth/login.js"></script>
    </head>

    <form id="logForm" action="http://localhost:8081/auth/login" method="POST" onsubmit="handleLogForm(document.forms['logForm']);">
        <div class="form-group" style="margin:auto;width:40%">
            <label style="margin-top:1em;margin-bottom:1em" for="login">Identifiant</label>
            <input type="text" class="form-control" id="login" name="login" aria-describedby="loginHelp" placeholder="Entrez votre identifiant">
        </div>
        <div class="form-group" style="margin:auto;width:40%">
            <label style="margin-top:1em;margin-bottom:1em" for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe">
        </div>
        <button style="margin-left:30%;margin-top:2em;" type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</html>

<script type="text/javascript">
     document.forms['logForm'].addEventListener('submit', (event) => {
        handleLogForm(event)
    });
</script>

