<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
         <script type="text/javascript" src="/static/admin.js"></script>
    </head>
    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="firstName" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="firstName">Your first name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="lastName" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="lastName">Your last name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="text" id="login" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="login">Your login</label>
                    </div>
                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="pass">Your password</label>
                    </div>
                    <div class="md-form mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="consult" id="consult_role">
                            <label class="form-check-label" for="consult_role">
                            Consult
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="borrow" id="borrow_role">
                            <label class="form-check-label" for="borrow_role">
                            Borrow
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="contributor" id="contributor_role">
                            <label class="form-check-label" for="contributor_role">
                            Contributor
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="admnistrator" id="admnistrator_role">
                            <label class="form-check-label" for="admnistrator_role">
                            Administrator
                            </label>
                        </div>
                    </div>
                        
                </div>
                <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-deep-orange" onclick="addUser();getUsers();">Add user</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="h3 mb-3">Clients</h1>
        </div>
        <div class="col">
           <button class='btn btn-success'  data-toggle="modal" data-target="#modalRegisterForm">Add user</button>
        </div>
    </div>
    <div class="row">
        <div id="userboard"></div>
    </div>
</html>
<script type="text/javascript" src="/static/table.js"></script> 
<script type="text/javascript">window.onload=getUsers()</script>