<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script type="text/javascript" src="/static/login.js"></script>
    </head>

    <form id="logForm" action="http://localhost:8082/auth/login" method="POST" onsubmit="handleLogForm(document.forms['logForm']);">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" name="login" aria-describedby="loginHelp" placeholder="Enter your login">
            <small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</html>

<script type="text/javascript">
     document.forms['logForm'].addEventListener('submit', (event) => {
        handleLogForm(event)
    });
</script>

